In [58]:
import numpy as np
import pandas as pd  
import time

In [59]:
dfUser = pd.read_csv('../data_csv/User.csv')
dfOrderDetail = pd.read_csv('../data_csv/OrderDetail.csv')
dfOrderDetail = dfOrderDetail.rename(columns= {"code" : 'code_order' , 'name' : 'name_order'})
dfUser

     creator_id          fullname
0             1          Hệ thống
1            49  Trần Trọng Khiêm
2            53               hr5
3           130     ttd_marketing
4           132          Hệ thống
..          ...               ...
147         405        Đóng gói 1
148         406       Phòng may 4
149         407          Lean mẫu
150         408               Trí
151         411  Sunday Afternoon

[152 rows x 2 columns]

In [60]:
dfManufactureDeptDetail = pd.read_csv('../data_csv/ManufactureDeptDetail.csv')
dfManufactureProd = pd.read_csv('../data_csv/ManufactureProd.csv')
dfManufactureProd = dfManufactureProd.rename(columns= {'id' : 'manufacture_product_id' , 'created_at' : 'create_manu_prod' , 'quantity' : 'quantity_manu_prod' , 'name' : 'name_manu_prod'})
dfManufactureProd = dfManufactureProd.drop(columns= {'updated_at' , 'deleted_at' , 'qrcode'})
dfManufactureProd.head(8)

,manufacture_product_id,name_manu_prod,quantity_manu_prod,create_manu_prod,task_id,position
0,17,Vải da lộn Black số 13 ép vải kate Black,101.0,2022-11-02 08:20:18+00:00,3,Mặt
1,18,"Vải lưới DM-3090 44"" Black - Độ cứng 7%",101.0,2022-11-02 08:20:18+00:00,3,Hông + Đuôi
2,19,Vải da lộn Black số 13 ép lưới màn 80G Black,101.0,2022-11-02 08:20:18+00:00,3,Két trên + Két dưới+Nút
3,20,Đai da lộn 4 đường 3.0cm Black số 13 ép lưới ...,67.0,2022-11-02 08:20:18+00:00,3,Đai
4,21,Viền 2.8cm Kate Black,150.0,2022-11-02 08:20:18+00:00,3,Viền
5,22,Keo M832 Black,101.0,2022-11-02 08:20:19+00:00,3,Keo dựng mặt
6,23,Dây size felt 7mm Black,67.0,2022-11-02 08:20:19+00:00,3,Dây size
7,24,Felt Black,101.0,2022-11-02 08:20:19+00:00,3,Felt CG đuôi

In [61]:
dfManufactureProdImport = pd.read_csv('../data_csv/ManufactureProdImport.csv')
dfManufactureProdImport = dfManufactureProdImport.drop(columns= {'code' , 'updated_at' , 'deleted_at'})
dfManufactureProdImport.head(8)

,quantity,creator_id,created_at,manufacture_product_id,manufacture_dept_id,task_id,order_id
0,214.0,400,2022-11-05 13:18:07+00:00,433,3,125,1933
1,115.0,400,2022-11-05 13:18:07+00:00,434,3,125,1933
2,114.0,400,2022-11-05 13:18:07+00:00,435,3,125,1933
3,114.0,400,2022-11-05 13:18:07+00:00,436,3,125,1933
4,114.0,400,2022-11-05 13:29:09+00:00,423,3,118,2021
5,112.0,400,2022-11-05 13:29:09+00:00,424,3,118,2021
6,117.0,400,2022-11-05 13:36:03+00:00,431,3,123,2069
7,100.0,400,2022-11-07 08:43:57+00:00,352,3,97,2112

In [54]:
dfManufactureProdImport = dfManufactureProdImport.merge(dfManufactureProd , on = ['manufacture_product_id' , 'task_id'])
dfManufactureProdImport.head(8)

,quantity,creator_id,created_at,manufacture_product_id,manufacture_dept_id,task_id,order_id,name_manu_prod,quantity_manu_prod,create_manu_prod,position
0,214.0,400,2022-11-05 13:18:07+00:00,433,3,125,1933,Mặt,104.0,2022-11-05 08:12:49+00:00,Mặt thêu
1,115.0,400,2022-11-05 13:18:07+00:00,434,3,125,1933,Hông trái,104.0,2022-11-05 08:12:49+00:00,Hông trái thêu
2,114.0,400,2022-11-05 13:18:07+00:00,435,3,125,1933,Đuôi,104.0,2022-11-05 08:12:49+00:00,Đuôi thêu
3,114.0,400,2022-11-05 13:18:07+00:00,436,3,125,1933,Két dưới,104.0,2022-11-05 08:12:49+00:00,Két dưới thêu
4,114.0,400,2022-11-05 13:29:09+00:00,423,3,118,2021,Mặt,103.0,2022-11-05 07:49:29+00:00,Mặt thêu
5,112.0,400,2022-11-05 13:29:09+00:00,424,3,118,2021,Hông trái,103.0,2022-11-05 07:49:29+00:00,Hông trái thêu
6,117.0,400,2022-11-05 13:36:03+00:00,431,3,123,2069,Mặt,101.0,2022-11-05 08:04:51+00:00,Mặt thêu
7,100.0,400,2022-11-07 08:43:57+00:00,352,3,97,2112,May bao két+quay két,100.0,2022-11-04 14:13:26+00:00,Két thành phẩm

In [31]:
dfManufactureProdImport = pd.read_csv('../data_csv/ManufactureProdImport.csv')
dfManufactureProdImportDetail = pd.read_csv('../data_csv/ManufactureProdImportDetail.csv')

dfManufactureProdImport[dfManufactureProdImport['task_id'] == 3]

,code,quantity,creator_id,created_at,updated_at,deleted_at,manufacture_product_id,manufacture_dept_id,task_id,order_id
10,6361c5a7ecb671667351975,102.0,400,2022-11-08 07:55:33+00:00,2022-11-08 08:07:21+00:00,NaN,17,3,3,2126
11,6361c5a7ecb671667351975,102.0,400,2022-11-08 07:56:20+00:00,2022-11-08 08:07:21+00:00,NaN,18,3,3,2126
12,6361c5a7ecb671667351975,102.0,400,2022-11-08 07:58:06+00:00,2022-11-08 08:07:21+00:00,NaN,19,3,3,2126
13,6361c5a7ecb671667351975,67.0,400,2022-11-08 08:07:21+00:00,2022-11-08 08:07:21+00:00,NaN,20,3,3,2126
14,6361c5a7ecb671667351975,150.0,400,2022-11-08 08:07:21+00:00,2022-11-08 08:07:21+00:00,NaN,21,3,3,2126
15,6361c5a7ecb671667351975,102.0,400,2022-11-08 08:07:21+00:00,2022-11-08 08:14:54+00:00,NaN,22,3,3,2126
16,6361c5a7ecb671667351975,67.0,400,2022-11-08 08:07:21+00:00,2022-11-08 08:07:21+00:00,NaN,23,3,3,2126
17,6361c5a7ecb671667351975,102.0,400,2022-11-08 08:07:21+00:00,2022-11-08 08:15:40+00:00,NaN,24,3,3,2126

In [15]:
dfManufactureProdImportDetail

,quantity,creator_id,created_at,updated_at,deleted_at,manufacture_product_id,manufacture_dept_id,task_id,order_id
0,107.0,400,2022-11-05 13:18:07+00:00,2022-11-05 13:18:07+00:00,NaN,433,3,125,1933
1,115.0,400,2022-11-05 13:18:07+00:00,2022-11-05 13:18:07+00:00,NaN,434,3,125,1933
2,114.0,400,2022-11-05 13:18:07+00:00,2022-11-05 13:18:07+00:00,NaN,435,3,125,1933
3,114.0,400,2022-11-05 13:18:07+00:00,2022-11-05 13:18:07+00:00,NaN,436,3,125,1933
4,114.0,400,2022-11-05 13:29:09+00:00,2022-11-05 13:29:09+00:00,NaN,423,3,118,2021
...,...,...,...,...,...,...,...,...,...
1157,371.0,400,2022-12-06 09:02:28+00:00,2022-12-06 09:02:28+00:00,NaN,2409,3,424,1349
1158,227.0,400,2022-12-06 09:02:28+00:00,2022-12-06 09:02:28+00:00,NaN,2414,3,424,1349
1159,369.0,400,2022-12-06 09:04:54+00:00,2022-12-06 09:04:54+00:00,NaN,1482,3,446,1354
1160,443.0,400,2022-12-06 09:04:54+00:00,2022-12-06 09:04:54+00:00,NaN,1484,3,446,1354
1161,1329.0,400,2022-12-06 09:04:54+00:00,2022-12-06 09:04:54+00:00,NaN,1485,3,446,1354