In [89]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = None
pd.options.mode.chained_assignment = None  # default='warn'
from datetime import datetime
now = datetime.now()

## Giá NPL của đơn hàng

In [90]:
dfUnits = pd.read_csv('../data_csv/Units.csv')
dfUnits = dfUnits.rename(columns= {'id' : 'unit_id' , 'name' : 'name_unit'})
dfUnits.head(2)

,unit_id,code,name_unit,creator_id,created_at,updated_at,deleted_at,unique_id
0,1,M,Mét,1,2022-05-03 17:28:12+00:00,2022-05-03 17:28:12+00:00,NaN,627103bc529fa1651573692
1,2,Cone,Cone,1,2022-05-03 17:28:12+00:00,2022-05-03 17:28:12+00:00,NaN,627103bc5b31b1651573692

In [91]:
dfProductUnit = pd.read_csv('../data_csv/ProductUnit.csv')
dfProductUnit.reset_index(drop = True)
dfProductUnit = dfProductUnit.merge(dfUnits[['unit_id' , 'name_unit']] , on = 'unit_id' , how = 'left')
dfProductUnit.head(2)

   product_id  product_unit_id  unit_id  is_default name_unit
0          21               21        1           1       Mét
1          21            12018        5           0      Yard

In [92]:
dfCurrency = pd.read_csv('../data_csv/currency.csv')
dfCurrency = dfCurrency.rename(columns= {'id' : 'currency_id' , 'code' : 'currency_code'})
dfCurrency.head(5)

,currency_id,currency_code,name,creator_id,created_at,updated_at,deleted_at,unique_id
0,1,VND,Việt Nam Đồng,1,2022-05-03 17:24:49+00:00,2022-05-03 17:24:49+00:00,NaN,627102f16291d1651573489
1,2,USD,Đô La Mỹ,1,2022-05-03 17:24:49+00:00,2022-05-03 17:24:49+00:00,NaN,627102f16633f1651573489
2,3,EUR,Euro,1,2022-05-03 17:24:49+00:00,2022-05-03 17:24:49+00:00,NaN,627102f1695f21651573489
3,4,CNY,Nhân dân tệ,1,2022-05-03 17:24:49+00:00,2022-05-03 17:24:49+00:00,NaN,627102f16bb301651573489
4,5,JPY,Yên,1,2022-05-03 17:24:49+00:00,2022-05-03 17:24:49+00:00,NaN,627102f16ec881651573489

In [93]:
dfPurchaseOrder = pd.read_csv('../data_csv/PurchaseOrder.csv')
dfPurchaseOrder.head(2)

,code,creator_id,name_po,total_amount,purchase_order_id,is_completed,currency_id,total_price,po_status,time_create,estimated_delivery,supplier_delivery_id
0,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,1,1.671000e+07,completed,2022-05-04,NaN,61
1,TTD-02052022-001-MX,344,TTD-02052022-001-MX,1000.0,2,1,2,2.116800e+01,completed,2022-05-04,NaN,74

In [94]:
dfPurchaseOrder = dfPurchaseOrder.merge(dfCurrency[['currency_id' , 'currency_code']] , on = 'currency_id')
dfPurchaseOrder.head(2)

,code,creator_id,name_po,total_amount,purchase_order_id,is_completed,currency_id,total_price,po_status,time_create,estimated_delivery,supplier_delivery_id,currency_code
0,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,1,16710000.0,completed,2022-05-04,NaN,61,VND
1,TTD-05052022-005-HN,343,TTD-05052022-005-HN,100.0,4,1,1,15120000.0,completed,2022-05-05,NaN,72,VND

In [99]:
dfPurchaseOrderDetail = pd.read_csv('../data_csv/PurchaseOrderDetail.csv')
dfPurchaseOrderDetail.head(2)

,product_id,product_code,product_unit_id,purchase_order_quantity,purchase_order_id,is_complete,amount,vnd_exchange_rate,vnd_exchange
0,1,1-LUOIMA-BLK-80-CM,12000,5000.0,1794,0,17000.0,0.0,0.0
1,1,1-LUOIMA-BLK-80-CM,12000,5000.0,1601,1,17000.0,0.0,0.0

In [101]:
dfPurchaseOrderDetail = dfPurchaseOrderDetail.merge(dfProductUnit[['product_id' , 'product_unit_id' , 'name_unit']])
dfPurchaseOrderDetail.head(2)

,product_id,product_code,product_unit_id,purchase_order_quantity,purchase_order_id,is_complete,amount,vnd_exchange_rate,vnd_exchange,name_unit
0,1,1-LUOIMA-BLK-80-CM,12000,5000.0,1794,0,17000.0,0.0,0.0,Yard
1,1,1-LUOIMA-BLK-80-CM,12000,5000.0,1601,1,17000.0,0.0,0.0,Yard

In [102]:
dfPurchaseOrderTotal = dfPurchaseOrder.merge(dfPurchaseOrderDetail, on = 'purchase_order_id', how = 'left').replace(np.NaN , 0)
dfPurchaseOrderTotal.tail(10)
dfPurchaseOrderTotal['total_price_exchange'] = dfPurchaseOrderTotal['total_price'] * dfPurchaseOrderTotal['vnd_exchange_rate']
dfPurchaseOrderTotal[dfPurchaseOrderTotal['code'] == 'TTD-03032023-013-Bu']

,code,creator_id,name_po,total_amount,purchase_order_id,is_completed,currency_id,total_price,po_status,time_create,estimated_delivery,supplier_delivery_id,currency_code,product_id,product_code,product_unit_id,purchase_order_quantity,is_complete,amount,vnd_exchange_rate,vnd_exchange,name_unit,total_price_exchange
6851,TTD-03032023-013-Bu,343,TTD-03032023-013-Bù,31490.0,1782,0,2,4420.427,approval,2023-03-03,2023-03-18,68,USD,3796,5-DA0514-BLK-20-PI,11473,2820.0,0,0.133,22800.0,3032.4,Yard,100785735.6
6852,TTD-03032023-013-Bu,343,TTD-03032023-013-Bù,31490.0,1782,0,2,4420.427,approval,2023-03-03,2023-03-18,68,USD,3801,5-DA0514-CHA-10-PI,11474,2200.0,0,0.080,22800.0,1824.0,Yard,100785735.6
6853,TTD-03032023-013-Bu,343,TTD-03032023-013-Bù,31490.0,1782,0,2,4420.427,approval,2023-03-03,2023-03-18,68,USD,3802,5-DA0514-CHA-20-PI,11475,19740.0,0,0.133,22800.0,3032.4,Yard,100785735.6
6854,TTD-03032023-013-Bu,343,TTD-03032023-013-Bù,31490.0,1782,0,2,4420.427,approval,2023-03-03,2023-03-18,68,USD,3811,5-DA0514-IRG-10-PI,8870,1000.0,0,0.080,22800.0,1824.0,Yard,100785735.6
6855,TTD-03032023-013-Bu,343,TTD-03032023-013-Bù,31490.0,1782,0,2,4420.427,approval,2023-03-03,2023-03-18,68,USD,3812,5-DA0514-IRG-20-PI,11476,5730.0,0,0.133,22800.0,3032.4,Yard,100785735.6

In [104]:
dfPurchaseOrderTotal[dfPurchaseOrderTotal['code'] == 'TTD-31082022-174-EF']

,code,creator_id,name_po,total_amount,purchase_order_id,is_completed,currency_id,total_price,po_status,time_create,estimated_delivery,supplier_delivery_id,currency_code,product_id,product_code,product_unit_id,purchase_order_quantity,is_complete,amount,vnd_exchange_rate,vnd_exchange,name_unit,total_price_exchange
6858,TTD-31082022-174-EF,343,TTD-31082022-174-EF,670.0,844,1,3,4565.5,completed,2022-08-31,2022-09-30,173,EUR,8676,1-CREM1R-WHI-00-EF,18390,50.0,1,7.65,0.0,0.0,Mét,0.0
6859,TTD-31082022-174-EF,343,TTD-31082022-174-EF,670.0,844,1,3,4565.5,completed,2022-08-31,2022-09-30,173,EUR,9130,1-CREM3R-WHI-00-EF,18558,200.0,0,4.85,22800.0,110580.0,Mét,104093400.0
6860,TTD-31082022-174-EF,343,TTD-31082022-174-EF,670.0,844,1,3,4565.5,completed,2022-08-31,2022-09-30,173,EUR,10118,1-CREM1R-DOL-00-EF,18629,60.0,0,7.65,22800.0,174420.0,Mét,104093400.0
6861,TTD-31082022-174-EF,343,TTD-31082022-174-EF,670.0,844,1,3,4565.5,completed,2022-08-31,2022-09-30,173,EUR,10138,1-CREM1R-LYL-00-EF,18652,360.0,0,7.65,22800.0,174420.0,Mét,104093400.0

In [108]:
dfPurchaseOrderTotal[dfPurchaseOrderTotal['code'] == 'TTD-22022023-137-DD bu']

,code,creator_id,name_po,total_amount,purchase_order_id,is_completed,currency_id,total_price,po_status,time_create,estimated_delivery,supplier_delivery_id,currency_code,product_id,product_code,product_unit_id,purchase_order_quantity,is_complete,amount,vnd_exchange_rate,vnd_exchange,name_unit,total_price_exchange
6831,TTD-22022023-137-DD bu,343,TTD-22022023-137-DD bù,200.0,1734,1,2,184.0,completed,2023-02-22,2023-02-28,93,USD,1929,1-L03090-BL2-07-DD,13773,200.0,1,0.92,22800.0,20976.0,Yard,4195200.0

In [111]:
dfPurchaseOrderTotalFix = dfPurchaseOrderTotal.drop(columns= {'creator_id', 'purchase_order_id' , 'is_completed' , 'currency_id' , 'supplier_delivery_id', 'product_id' , 'product_unit_id' , 'is_complete'})
dfPurchaseOrderTotalFix[dfPurchaseOrderTotalFix['code'] == 'TTD-22022023-137-DD bu']

,code,name_po,total_amount,total_price,po_status,time_create,estimated_delivery,currency_code,product_code,purchase_order_quantity,amount,vnd_exchange_rate,vnd_exchange,name_unit,total_price_exchange
6831,TTD-22022023-137-DD bu,TTD-22022023-137-DD bù,200.0,184.0,completed,2023-02-22,2023-02-28,USD,1-L03090-BL2-07-DD,200.0,0.92,22800.0,20976.0,Yard,4195200.0

In [122]:
dfPurchaseOrderTotalFix = dfPurchaseOrderTotal.drop(columns= {'creator_id', 'purchase_order_id' , 'is_completed' , 'currency_id' , 'supplier_delivery_id', 'product_id' , 'product_unit_id' , 'is_complete'})

# new_col1 = ['code','name_po' , 'total_amount' , 'total_price' ,'name_order', 'code_dept' ,  'name_dept','fullname', 'created_at', 'updated_at' , 'start_time' , 
#       'end_time', 'min_prod_quan', 'total_prod_quan', 'code_status' , 'name_status' , 'fullname_del' , 'fullname_comp' , 'started_at_order' , 'completed_at_order']
   
# dfPurchaseOrderTotalFix= dfPurchaseOrderTotalFix.reindex(columns=new_col1)
   
dfPurchaseOrderTotalFix.rename(columns = { 'code': 'Mã đơn hàng', 'name_po': 'Tên đơn hàng', 'total_amount' : 'Tổng số lượng' , 'total_price': 'Giá tiền' ,'currency_code' : 'Loại tiền tệ' , 'vnd_exchange_rate' : 'Tỉ giá VND', 'total_price_exchange' : 'Tổng số tiền VND' ,'time_create' : 'Ngày đặt' , 'estimated_delivery' : 'Ngày giao',
                                             'product_code' : 'Mã NPL' , 'name_unit' : 'Đơn vị' , 'purchase_order_quantity' : 'Số lượng NPL' , 'amount' : 'Đơn giá' , 'vnd_exchange' : 'Đơn giá VND' , 'po_status' : 'Trạng thái đơn hàng'}, inplace = True)
dfPurchaseOrderTotalFix.tail(5)

,Mã đơn hàng,Tên đơn hàng,Tổng số lượng,Giá tiền,Trạng thái đơn hàng,Ngày đặt,Ngày giao,Loại tiền tệ,Mã NPL,Số lượng NPL,Đơn giá,Tỉ giá VND,Đơn giá VND,Đơn vị,Tổng số tiền VND
6858,TTD-31082022-174-EF,TTD-31082022-174-EF,670.0,4565.5,completed,2022-08-31,2022-09-30,EUR,1-CREM1R-WHI-00-EF,50.0,7.65,0.0,0.0,Mét,0.0
6859,TTD-31082022-174-EF,TTD-31082022-174-EF,670.0,4565.5,completed,2022-08-31,2022-09-30,EUR,1-CREM3R-WHI-00-EF,200.0,4.85,22800.0,110580.0,Mét,104093400.0
6860,TTD-31082022-174-EF,TTD-31082022-174-EF,670.0,4565.5,completed,2022-08-31,2022-09-30,EUR,1-CREM1R-DOL-00-EF,60.0,7.65,22800.0,174420.0,Mét,104093400.0
6861,TTD-31082022-174-EF,TTD-31082022-174-EF,670.0,4565.5,completed,2022-08-31,2022-09-30,EUR,1-CREM1R-LYL-00-EF,360.0,7.65,22800.0,174420.0,Mét,104093400.0
6862,TTD-01092022-001-MT,TTD-01092022-001-MT,150.0,1545.0,completed,2022-09-01,0,EUR,1-9160EN-BLK-00-MT,150.0,10.30,22800.0,234840.0,Mét,35226000.0

In [119]:
dfPurchaseOrderTotalFix[dfPurchaseOrderTotalFix['Mã đơn hàng'] == 'TTD-31082022-174-EF']

,Mã đơn hàng,Tên đơn hàng,Tổng số lượng,Giá tiền,Trạng thái đơn hàng,Ngày đặt,Ngày giao,Loại tiền tệ,Mã NPL,Số lượng NPL,Đơn giá,Tỉ giá VND,Đơn giá VND,Đơn vị,Tổng số tiền VND
6858,TTD-31082022-174-EF,TTD-31082022-174-EF,670.0,4565.5,completed,2022-08-31,2022-09-30,EUR,1-CREM1R-WHI-00-EF,50.0,7.65,0.0,0.0,Mét,0.0
6859,TTD-31082022-174-EF,TTD-31082022-174-EF,670.0,4565.5,completed,2022-08-31,2022-09-30,EUR,1-CREM3R-WHI-00-EF,200.0,4.85,22800.0,110580.0,Mét,104093400.0
6860,TTD-31082022-174-EF,TTD-31082022-174-EF,670.0,4565.5,completed,2022-08-31,2022-09-30,EUR,1-CREM1R-DOL-00-EF,60.0,7.65,22800.0,174420.0,Mét,104093400.0
6861,TTD-31082022-174-EF,TTD-31082022-174-EF,670.0,4565.5,completed,2022-08-31,2022-09-30,EUR,1-CREM1R-LYL-00-EF,360.0,7.65,22800.0,174420.0,Mét,104093400.0

In [120]:
dfPurchaseOrderTotalFix.to_excel('../dataDA/get_purchase_order_currency.xlsx')
dfPurchaseOrderTotalFix

,Mã đơn hàng,Tên đơn hàng,Tổng số lượng,Giá tiền,Trạng thái đơn hàng,Ngày đặt,Ngày giao,Loại tiền tệ,Mã NPL,Số lượng NPL,Đơn giá,Tỉ giá VND,Đơn giá VND,Đơn vị,Tổng số tiền VND
0,TTD-02052022-003-AK,TTD-02052022-003-AK,617.0,16710000.0,completed,2022-05-04,0,VND,1-KATE00-GSK-00-AK,20.0,28000.00,0.0,0.0,Mét,0.0
1,TTD-02052022-003-AK,TTD-02052022-003-AK,617.0,16710000.0,completed,2022-05-04,0,VND,9-CCDCSX-092-00-AK,1.0,450000.00,0.0,0.0,Cái,0.0
2,TTD-02052022-003-AK,TTD-02052022-003-AK,617.0,16710000.0,completed,2022-05-04,0,VND,9-CCDCSX-251-00-AK,10.0,250000.00,0.0,0.0,Cái,0.0
3,TTD-02052022-003-AK,TTD-02052022-003-AK,617.0,16710000.0,completed,2022-05-04,0,VND,9-FELTCH-SBL-00-AK,100.0,16000.00,0.0,0.0,Yard,0.0
4,TTD-02052022-003-AK,TTD-02052022-003-AK,617.0,16710000.0,completed,2022-05-04,0,VND,1-SATIN0-BLK-00-AK,70.0,28000.00,0.0,0.0,Mét,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6858,TTD-31082022-174-EF,TTD-31082022-174-EF,670.0,4565.5,completed,2022-08-31,2022-09-30,EUR,1-CREM1R-WHI-00-EF,50.0,7.65,0.0,0.0,Mét,0.0
6859,TTD-31082022-174-EF,TTD-31082022-174-EF,670.0,4565.5,completed,2022-08-31,2022-09-30,EUR,1-CREM3R-WHI-00-EF,200.0,4.85,22800.0,110580.0,Mét,104093400.0
6860,TTD-31082022-174-EF,TTD-31082022-174-EF,670.0,4565.5,completed,2022-08-31,2022-09-30,EUR,1-CREM1R-DOL-00-EF,60.0,7.65,22800.0,174420.0,Mét,104093400.0
6861,TTD-31082022-174-EF,TTD-31082022-174-EF,670.0,4565.5,completed,2022-08-31,2022-09-30,EUR,1-CREM1R-LYL-00-EF,360.0,7.65,22800.0,174420.0,Mét,104093400.0
6862,TTD-01092022-001-MT,TTD-01092022-001-MT,150.0,1545.0,completed,2022-09-01,0,EUR,1-9160EN-BLK-00-MT,150.0,10.30,22800.0,234840.0,Mét,35226000.0

In [7]:
dfProductUnit = pd.read_csv('../data_csv/ProductUnit.csv')
dfProductUnit.reset_index(drop = True)

       product_id  product_unit_id  unit_id  is_default
0              21               21        1           1
1              21            12018        5           0
2              22               22        1           1
3              22            12019        5           0
4              26               26        1           1
...           ...              ...      ...         ...
16842       11468            21746        1           1
16843       11469            21747        1           1
16844       11470            21748        4           1
16845       11471            21749        4           1
16846       11472            21750        1           1

[16847 rows x 4 columns]

In [8]:
dfProductUnitExchange = pd.read_csv('../data_csv/ProductUnitExchange.csv')
# dfProductUnitExchange = dfProductUnitExchange.drop_duplicates(subset=['product_id' , 'source_unit_id' , 'result_unit_id'], keep='first').reset_index(drop= True)
dfProductUnitExchange

,product_id,source_unit_id,result_unit_id,source_quantity,result_quantity
0,6773,4,14,110.0000,1.0
1,6758,4,14,110.0000,1.0
2,6773,3,14,115.0000,1.0
3,2348,1,5,0.9144,1.0
4,194,1,5,0.9144,1.0
...,...,...,...,...,...
6963,11450,1,5,0.9144,1.0
6964,11449,1,5,0.9144,1.0
6965,11445,1,5,0.9144,1.0
6966,11455,1,5,0.9140,1.0
6967,11454,1,5,0.9140,1.0

In [9]:
dfProductUnitExchange = dfProductUnitExchange.drop_duplicates(subset=['product_id' , 'source_unit_id' , 'result_unit_id'], keep='first').reset_index(drop= True)

In [10]:
dfPurchaseOrderDetail = pd.read_csv("../data_csv/PurchaseOrderDetail.csv") # Purchase Order
dfStockInPurchaseOrder = pd.read_csv("../data_csv/StockInPurchaseOrder.csv") # Purchase Order
dfPurchaseOrder = pd.read_csv('../data_csv/PurchaseOrder.csv')
dfUsers = pd.read_csv('../data_csv/Users.csv')
dfSupplierDeliveryInfo = pd.read_csv('../data_csv/SupplierDeliveryInfo.csv')
dfSupplierDeliveryInfo

     supplier_id  supplier_delivery_id supplier_code      supplier_name
0              1                     1            HG        Hans Global
1              2                     2            EV  Everest Shang Hai
2              3                     3            EW    Everest Tai Wan
3              4                     4            MC          Men Chuen
4              5                     5            FT         Flying Tex
..           ...                   ...           ...                ...
236          236                   243            PT             PERTEX
237          237                   244            HB      Shishi HaoBao
238          239                   246            YM               YIMA
239          240                   247            95              9.5cm
240          241                   248            72              7.2cm

[241 rows x 4 columns]

In [6]:
dfPurchaseOrder = dfPurchaseOrder.merge(dfUsers, on = 'creator_id', how = 'left').replace(np.NaN , 0)
dfPurchaseOrder = dfPurchaseOrder.merge(dfSupplierDeliveryInfo, on = 'supplier_delivery_id', how = 'left').replace(np.NaN , 0)
dfPurchaseOrder

,code,creator_id,name_po,total_amount,purchase_order_id,is_completed,po_status,time_create,estimated_delivery,supplier_delivery_id,fullname,supplier_id,supplier_code,supplier_name
0,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm
1,TTD-02052022-001-MX,344,TTD-02052022-001-MX,1000.0,2,1,completed,2022-05-04,0,74,Nguyễn Thị Anh,74,MX,Maxim
2,TTD-02052022-004-HV,343,TTD-02052022-004-HV,2500.0,3,1,completed,2022-05-05,0,111,Nguyễn TT Duyên,111,HV,Hàn Việt
3,TTD-05052022-005-HN,343,TTD-05052022-005-HN,100.0,4,1,completed,2022-05-05,0,72,Nguyễn TT Duyên,72,HN,Hải Nam
4,TTD-03052022-006-DI,343,TTD-03052022-006-DI,2000.0,5,1,completed,2022-05-05,0,65,Nguyễn TT Duyên,65,DI,Dong IL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1332,TTD-05122022-019-TL,344,TTD-05122022-019-TL,15100.0,1372,0,approval,2022-12-05,2022-12-19,67,Nguyễn Thị Anh,67,TL,TTL
1333,TTD-05122022-020-HV,343,TTD-05122022-020-HV,1000.0,1373,0,review,2022-12-05,2022-12-31,111,Nguyễn TT Duyên,111,HV,Hàn Việt
1334,TTD-05122022-021-TQ,344,TTD-05122022-021-TQ,7.0,1374,1,completed,2022-12-05,2022-12-06,116,Nguyễn Thị Anh,116,TQ,T.Q.A
1335,TTD-05122022-022-AN,344,TTD-05122022-022-AN,9100.0,1375,0,approval,2022-12-05,2022-12-19,99,Nguyễn Thị Anh,99,AN,Anh Khôi
1336,TTD-27122022-1376,333,TTD-27122022-1376,13330.0,1376,1,completed,2022-12-27,0,3,Duong Nguyen s4,3,EW,Everest Tai Wan

In [7]:
df = dfPurchaseOrderDetail[dfPurchaseOrderDetail[['product_id' ,'purchase_order_id']].duplicated() == True]
df = dfStockInPurchaseOrder[~dfStockInPurchaseOrder['purchase_order_id'].isin(dfPurchaseOrderDetail['purchase_order_id'].to_list())].reset_index(drop = True)

### Cập nhập lại đơn hàng hoàn tất

In [8]:
dfPurchaseOrderDetail.at[426, 'is_complete'] = 1
dfPurchaseOrderDetail.at[426, 'is_complete'] = 1
dfPurchaseOrderDetail.at[1785, 'is_complete'] = 1
dfPurchaseOrderDetail.at[1787, 'is_complete'] = 1
dfPurchaseOrderDetail.at[19, 'is_complete'] = 1

In [9]:
dfPurchaseOrderTotal = dfPurchaseOrder.merge(dfPurchaseOrderDetail, on = 'purchase_order_id', how = 'left').replace(np.NaN , 0)
dfPurchaseOrderTotal[dfPurchaseOrderTotal['product_id'] == 1703]

,code,creator_id,name_po,total_amount,purchase_order_id,is_completed,po_status,time_create,estimated_delivery,supplier_delivery_id,fullname,supplier_id,supplier_code,supplier_name,product_id,product_code,product_unit_id,purchase_order_quantity,is_complete
2171,TTD-21072022-113-HF,343,TTD-21072022-113-HF,9600.0,575,0,approval,2022-07-21,2022-12-20,45,Nguyễn TT Duyên,45,HF,Hung'S Fortune,1703,1-RPHW1R-INF-00-HF,13558,200.0,0
4577,TTD-28102022-120-HF,343,TTD-28102022-120-HF,8600.0,1180,0,approval,2022-10-28,2022-11-30,45,Nguyễn TT Duyên,45,HF,Hung'S Fortune,1703,1-RPHW1R-INF-00-HF,13558,50.0,0

In [10]:
dfPurchaseOrderTotal = dfPurchaseOrder.merge(dfPurchaseOrderDetail, on = 'purchase_order_id', how = 'left').replace(np.NaN , 0)
# dfPurchaseOrderTotalNotComplete = dfPurchaseOrderTotal[(dfPurchaseOrderTotal['is_completed'] != 1) & (dfPurchaseOrderTotal['is_complete'] != 1)
#                                                        & (dfPurchaseOrderTotal['po_status'] == 'approval')]
dfPurchaseOrderDetail = dfPurchaseOrderTotal.merge(dfProductUnit, on = ['product_id' , 'product_unit_id'], how = 'left')
dfPurchaseOrderDetail['quantity_exchange'] = 0
# dfPurchaseOrderDetail[dfPurchaseOrderDetail['product_id'] == 6823]

In [11]:
dfProductUnitExchange[dfProductUnitExchange['product_id'] == 6823]

,product_id,source_unit_id,result_unit_id,source_quantity,result_quantity
3774,6823,1,5,0.9144,1.0

In [12]:
dfPurchaseOrderDetail1 = dfPurchaseOrderDetail.merge(dfProductUnitExchange , left_on = ['product_id','unit_id'] , right_on = ['product_id','result_unit_id'] , how = 'left')
dfPurchaseOrderDetail1['quantity_exchange_not_default'] = dfPurchaseOrderDetail1['purchase_order_quantity'] * dfPurchaseOrderDetail1['source_quantity'] / dfPurchaseOrderDetail1['result_quantity']
dfPurchaseOrderDetail1

,code,creator_id,name_po,total_amount,purchase_order_id,is_completed,po_status,time_create,estimated_delivery,supplier_delivery_id,fullname,supplier_id,supplier_code,supplier_name,product_id,product_code,product_unit_id,purchase_order_quantity,is_complete,unit_id,is_default,quantity_exchange,source_unit_id,result_unit_id,source_quantity,result_quantity,quantity_exchange_not_default
0,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,832,1-KATE00-GSK-00-AK,832,20.0,0,1,1,0,NaN,NaN,NaN,NaN,NaN
1,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6300,9-CCDCSX-092-00-AK,6300,1.0,0,4,1,0,NaN,NaN,NaN,NaN,NaN
2,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6478,9-CCDCSX-251-00-AK,6478,10.0,0,4,1,0,NaN,NaN,NaN,NaN,NaN
3,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6636,9-FELTCH-SBL-00-AK,7888,100.0,0,5,0,0,1.0,5.0,0.9144,1.0,91.44
4,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,7793,1-SATIN0-BLK-00-AK,7793,70.0,0,1,1,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5180,TTD-05122022-022-AN,344,TTD-05122022-022-AN,9100.0,1375,0,approval,2022-12-05,2022-12-19,99,Nguyễn Thị Anh,99,AN,Anh Khôi,6600,9-GDATMG-WHI-20-AN,6600,3500.0,0,1,1,0,NaN,NaN,NaN,NaN,NaN
5181,TTD-05122022-022-AN,344,TTD-05122022-022-AN,9100.0,1375,0,approval,2022-12-05,2022-12-19,99,Nguyễn Thị Anh,99,AN,Anh Khôi,11472,5-DATHUN-WHI-32-AN,21750,100.0,0,1,1,0,NaN,NaN,NaN,NaN,NaN
5182,TTD-27122022-1376,333,TTD-27122022-1376,13330.0,1376,1,completed,2022-12-27,0,3,Duong Nguyen s4,3,EW,Everest Tai Wan,6739,9-B07095-SAF-IN-HN,16162,200.0,1,14,0,0,4.0,14.0,20.0000,1.0,4000.00
5183,TTD-27122022-1376,333,TTD-27122022-1376,13330.0,1376,1,completed,2022-12-27,0,3,Duong Nguyen s4,3,EW,Everest Tai Wan,6739,9-B07095-SAF-IN-HN,16152,13010.0,1,4,1,0,NaN,NaN,NaN,NaN,NaN
5184,TTD-27122022-1376,333,TTD-27122022-1376,13330.0,1376,1,completed,2022-12-27,0,3,Duong Nguyen s4,3,EW,Everest Tai Wan,11470,6-KDHM06-BLK-DA-TQ,21748,120.0,1,4,1,0,NaN,NaN,NaN,NaN,NaN

In [13]:
aMate = dfPurchaseOrderDetail1.loc[0].index
for i in range(0 , len(aMate)):
    if(aMate[i] == 'quantity_exchange'):
        a = i
    else: i = i + 1

for i in range(0 , dfPurchaseOrderDetail1.shape[0]):
    aMate = dfPurchaseOrderDetail1.loc[i]
    if(aMate['is_default'] == 1.0):
        dfPurchaseOrderDetail1.iloc[[aMate.name], [a]] = aMate['purchase_order_quantity']
    elif(aMate['is_default'] == 0.0):
        dfPurchaseOrderDetail1.iloc[[aMate.name], [a]] = aMate['quantity_exchange_not_default']

dfPurchaseOrderDetail1[(dfPurchaseOrderDetail1['is_default'] != 0) & (dfPurchaseOrderDetail1['is_default'] != 1)]
dfPurchaseOrderDetail1

,code,creator_id,name_po,total_amount,purchase_order_id,is_completed,po_status,time_create,estimated_delivery,supplier_delivery_id,fullname,supplier_id,supplier_code,supplier_name,product_id,product_code,product_unit_id,purchase_order_quantity,is_complete,unit_id,is_default,quantity_exchange,source_unit_id,result_unit_id,source_quantity,result_quantity,quantity_exchange_not_default
0,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,832,1-KATE00-GSK-00-AK,832,20.0,0,1,1,20.00,NaN,NaN,NaN,NaN,NaN
1,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6300,9-CCDCSX-092-00-AK,6300,1.0,0,4,1,1.00,NaN,NaN,NaN,NaN,NaN
2,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6478,9-CCDCSX-251-00-AK,6478,10.0,0,4,1,10.00,NaN,NaN,NaN,NaN,NaN
3,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6636,9-FELTCH-SBL-00-AK,7888,100.0,0,5,0,91.44,1.0,5.0,0.9144,1.0,91.44
4,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,7793,1-SATIN0-BLK-00-AK,7793,70.0,0,1,1,70.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5180,TTD-05122022-022-AN,344,TTD-05122022-022-AN,9100.0,1375,0,approval,2022-12-05,2022-12-19,99,Nguyễn Thị Anh,99,AN,Anh Khôi,6600,9-GDATMG-WHI-20-AN,6600,3500.0,0,1,1,3500.00,NaN,NaN,NaN,NaN,NaN
5181,TTD-05122022-022-AN,344,TTD-05122022-022-AN,9100.0,1375,0,approval,2022-12-05,2022-12-19,99,Nguyễn Thị Anh,99,AN,Anh Khôi,11472,5-DATHUN-WHI-32-AN,21750,100.0,0,1,1,100.00,NaN,NaN,NaN,NaN,NaN
5182,TTD-27122022-1376,333,TTD-27122022-1376,13330.0,1376,1,completed,2022-12-27,0,3,Duong Nguyen s4,3,EW,Everest Tai Wan,6739,9-B07095-SAF-IN-HN,16162,200.0,1,14,0,4000.00,4.0,14.0,20.0000,1.0,4000.00
5183,TTD-27122022-1376,333,TTD-27122022-1376,13330.0,1376,1,completed,2022-12-27,0,3,Duong Nguyen s4,3,EW,Everest Tai Wan,6739,9-B07095-SAF-IN-HN,16152,13010.0,1,4,1,13010.00,NaN,NaN,NaN,NaN,NaN
5184,TTD-27122022-1376,333,TTD-27122022-1376,13330.0,1376,1,completed,2022-12-27,0,3,Duong Nguyen s4,3,EW,Everest Tai Wan,11470,6-KDHM06-BLK-DA-TQ,21748,120.0,1,4,1,120.00,NaN,NaN,NaN,NaN,NaN

In [14]:
dfStockInPurchaseOrder

      product_id  purchase_order_id  quantity_arrived actual_delivery_time
0           5545                  2             500.0           2022-05-24
1            815                  3             639.1           2022-06-01
2            811                  3            1079.9           2022-06-23
3            815                  3             943.6           2022-06-23
4           6773                  4            5000.0           2022-05-24
...          ...                ...               ...                  ...
5181        6739               1376             200.0           2022-12-27
5182        6739               1376             200.0           2022-12-27
5183        6739               1376             475.0           2022-12-27
5184        6739               1376              20.0           2022-12-27
5185        6739               1376            8985.0           2022-12-27

[5186 rows x 4 columns]

In [15]:
dfPurchaseOrderDetailmerge = dfPurchaseOrderDetail1.merge(dfStockInPurchaseOrder, on = ['purchase_order_id' , 'product_id'], how = 'left').replace(np.NaN , 0)
dfPurchaseOrderDetailmerge['quantity_not_arrived'] = dfPurchaseOrderDetailmerge['quantity_exchange'] - dfPurchaseOrderDetailmerge['quantity_arrived']
dfPurchaseOrderDetailmerge

,code,creator_id,name_po,total_amount,purchase_order_id,is_completed,po_status,time_create,estimated_delivery,supplier_delivery_id,fullname,supplier_id,supplier_code,supplier_name,product_id,product_code,product_unit_id,purchase_order_quantity,is_complete,unit_id,is_default,quantity_exchange,source_unit_id,result_unit_id,source_quantity,result_quantity,quantity_exchange_not_default,quantity_arrived,actual_delivery_time,quantity_not_arrived
0,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,832,1-KATE00-GSK-00-AK,832,20.0,0,1,1,20.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,20.00
1,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6300,9-CCDCSX-092-00-AK,6300,1.0,0,4,1,1.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,1.00
2,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6478,9-CCDCSX-251-00-AK,6478,10.0,0,4,1,10.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,10.00
3,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6636,9-FELTCH-SBL-00-AK,7888,100.0,0,5,0,91.44,1.0,5.0,0.9144,1.0,91.44,0.0,0,91.44
4,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,7793,1-SATIN0-BLK-00-AK,7793,70.0,0,1,1,70.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,70.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5589,TTD-27122022-1376,333,TTD-27122022-1376,13330.0,1376,1,completed,2022-12-27,0,3,Duong Nguyen s4,3,EW,Everest Tai Wan,6739,9-B07095-SAF-IN-HN,16152,13010.0,1,4,1,13010.00,0.0,0.0,0.0000,0.0,0.00,475.0,2022-12-27,12535.00
5590,TTD-27122022-1376,333,TTD-27122022-1376,13330.0,1376,1,completed,2022-12-27,0,3,Duong Nguyen s4,3,EW,Everest Tai Wan,6739,9-B07095-SAF-IN-HN,16152,13010.0,1,4,1,13010.00,0.0,0.0,0.0000,0.0,0.00,20.0,2022-12-27,12990.00
5591,TTD-27122022-1376,333,TTD-27122022-1376,13330.0,1376,1,completed,2022-12-27,0,3,Duong Nguyen s4,3,EW,Everest Tai Wan,6739,9-B07095-SAF-IN-HN,16152,13010.0,1,4,1,13010.00,0.0,0.0,0.0000,0.0,0.00,8985.0,2022-12-27,4025.00
5592,TTD-27122022-1376,333,TTD-27122022-1376,13330.0,1376,1,completed,2022-12-27,0,3,Duong Nguyen s4,3,EW,Everest Tai Wan,11470,6-KDHM06-BLK-DA-TQ,21748,120.0,1,4,1,120.00,0.0,0.0,0.0000,0.0,0.00,50.0,2022-12-27,70.00
5593,TTD-27122022-1376,333,TTD-27122022-1376,13330.0,1376,1,completed,2022-12-27,0,3,Duong Nguyen s4,3,EW,Everest Tai Wan,11470,6-KDHM06-BLK-DA-TQ,21748,120.0,1,4,1,120.00,0.0,0.0,0.0000,0.0,0.00,70.0,2022-12-27,50.00

In [16]:
dfPurchaseOrderDetailmerge.head(5)

,code,creator_id,name_po,total_amount,purchase_order_id,is_completed,po_status,time_create,estimated_delivery,supplier_delivery_id,fullname,supplier_id,supplier_code,supplier_name,product_id,product_code,product_unit_id,purchase_order_quantity,is_complete,unit_id,is_default,quantity_exchange,source_unit_id,result_unit_id,source_quantity,result_quantity,quantity_exchange_not_default,quantity_arrived,actual_delivery_time,quantity_not_arrived
0,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,832,1-KATE00-GSK-00-AK,832,20.0,0,1,1,20.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,20.00
1,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6300,9-CCDCSX-092-00-AK,6300,1.0,0,4,1,1.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,1.00
2,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6478,9-CCDCSX-251-00-AK,6478,10.0,0,4,1,10.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,10.00
3,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6636,9-FELTCH-SBL-00-AK,7888,100.0,0,5,0,91.44,1.0,5.0,0.9144,1.0,91.44,0.0,0,91.44
4,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,7793,1-SATIN0-BLK-00-AK,7793,70.0,0,1,1,70.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,70.00

In [17]:
dfPurchaseOrderDetailmerge['raw_material_status'] = ''
aMate = dfPurchaseOrderDetailmerge.loc[0].index
for i in range(0 , len(aMate)):
    if(aMate[i] == 'raw_material_status'):
        a = i
    else: i = i + 1

for i in range(0 , len(dfPurchaseOrderDetailmerge)):
    aMate = dfPurchaseOrderDetailmerge.loc[i]
    if(aMate['is_completed'] == 1):
        dfPurchaseOrderDetailmerge.iloc[[aMate.name], [a]] = 'Hoàn tất'
    elif((aMate['is_completed'] == 0) & (aMate['is_complete'] == 0) & (aMate['quantity_arrived'] == 0)):
        dfPurchaseOrderDetailmerge.iloc[[aMate.name], [a]] = 'Chờ nhập kho'
    elif((aMate['is_completed'] == 0) & (aMate['is_complete'] == 0) & (aMate['quantity_arrived'] > 0) & (aMate['quantity_arrived'] < aMate['quantity_exchange'])):
        dfPurchaseOrderDetailmerge.iloc[[aMate.name], [a]] = 'Đã nhập kho 1 phần'
    elif((aMate['is_completed'] == 0) & (aMate['is_complete'] == 0) & (aMate['quantity_arrived'] > 0) & (aMate['quantity_arrived'] > aMate['quantity_exchange'])):
        dfPurchaseOrderDetailmerge.iloc[[aMate.name], [a]] = 'Nhập kho quá số lượng'
    elif((aMate['is_completed'] == 0) & (aMate['is_complete'] == 1)):
        dfPurchaseOrderDetailmerge.iloc[[aMate.name], [a]] = 'Đã nhập đủ'

dfPurchaseOrderDetailmerge

,code,creator_id,name_po,total_amount,purchase_order_id,is_completed,po_status,time_create,estimated_delivery,supplier_delivery_id,fullname,supplier_id,supplier_code,supplier_name,product_id,product_code,product_unit_id,purchase_order_quantity,is_complete,unit_id,is_default,quantity_exchange,source_unit_id,result_unit_id,source_quantity,result_quantity,quantity_exchange_not_default,quantity_arrived,actual_delivery_time,quantity_not_arrived,raw_material_status
0,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,832,1-KATE00-GSK-00-AK,832,20.0,0,1,1,20.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,20.00,Hoàn tất
1,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6300,9-CCDCSX-092-00-AK,6300,1.0,0,4,1,1.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,1.00,Hoàn tất
2,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6478,9-CCDCSX-251-00-AK,6478,10.0,0,4,1,10.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,10.00,Hoàn tất
3,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,6636,9-FELTCH-SBL-00-AK,7888,100.0,0,5,0,91.44,1.0,5.0,0.9144,1.0,91.44,0.0,0,91.44,Hoàn tất
4,TTD-02052022-003-AK,343,TTD-02052022-003-AK,617.0,1,1,completed,2022-05-04,0,61,Nguyễn TT Duyên,61,AK,A Khiêm,7793,1-SATIN0-BLK-00-AK,7793,70.0,0,1,1,70.00,0.0,0.0,0.0000,0.0,0.00,0.0,0,70.00,Hoàn tất
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5589,TTD-27122022-1376,333,TTD-27122022-1376,13330.0,1376,1,completed,2022-12-27,0,3,Duong Nguyen s4,3,EW,Everest Tai Wan,6739,9-B07095-SAF-IN-HN,16152,13010.0,1,4,1,13010.00,0.0,0.0,0.0000,0.0,0.00,475.0,2022-12-27,12535.00,Hoàn tất
5590,TTD-27122022-1376,333,TTD-27122022-1376,13330.0,1376,1,completed,2022-12-27,0,3,Duong Nguyen s4,3,EW,Everest Tai Wan,6739,9-B07095-SAF-IN-HN,16152,13010.0,1,4,1,13010.00,0.0,0.0,0.0000,0.0,0.00,20.0,2022-12-27,12990.00,Hoàn tất
5591,TTD-27122022-1376,333,TTD-27122022-1376,13330.0,1376,1,completed,2022-12-27,0,3,Duong Nguyen s4,3,EW,Everest Tai Wan,6739,9-B07095-SAF-IN-HN,16152,13010.0,1,4,1,13010.00,0.0,0.0,0.0000,0.0,0.00,8985.0,2022-12-27,4025.00,Hoàn tất
5592,TTD-27122022-1376,333,TTD-27122022-1376,13330.0,1376,1,completed,2022-12-27,0,3,Duong Nguyen s4,3,EW,Everest Tai Wan,11470,6-KDHM06-BLK-DA-TQ,21748,120.0,1,4,1,120.00,0.0,0.0,0.0000,0.0,0.00,50.0,2022-12-27,70.00,Hoàn tất
5593,TTD-27122022-1376,333,TTD-27122022-1376,13330.0,1376,1,completed,2022-12-27,0,3,Duong Nguyen s4,3,EW,Everest Tai Wan,11470,6-KDHM06-BLK-DA-TQ,21748,120.0,1,4,1,120.00,0.0,0.0,0.0000,0.0,0.00,70.0,2022-12-27,50.00,Hoàn tất

In [18]:
dfPurchaseOrderDetailDA = dfPurchaseOrderDetailmerge[['code', 'name_po','total_amount' , 'purchase_order_id' , 'is_completed' , 'is_complete' , 'po_status', 'product_code' , 'supplier_code' , 'supplier_name' , 'purchase_order_quantity' , 'quantity_exchange' , 'quantity_arrived' , 'quantity_not_arrived'
                                                 , 'time_create' , 'estimated_delivery' , 'actual_delivery_time' , 'fullname' , 'raw_material_status']]

dfPurchaseOrderDetailDA.rename(columns = { 'code' : 'Mã ĐH' ,'name_po':'Tên ĐH' ,'total_amount':'Số lượng ĐH đặt' , 'purchase_order_id': 'ID đơn hàng', 'fullname' :'Người tạo ĐH', 'is_completed': 'ĐH hoàn tất ?' , 'is_complete': 'NPL hoàn tất trong ĐH ?' ,
                                         'po_status': 'Trạng thái ĐH' , 'product_code': 'Mã NPL', 'supplier_code' : 'Mã NCC' , 'supplier_name' : 'Tên NCC' , 'purchase_order_quantity' : 'Số lượng NPL đặt' , 'quantity_exchange' : 'Số lượng NPL đặt (đã chuyển đổi)' , 
                                        'quantity_arrived': 'Số lượng nhập kho', 'quantity_not_arrived': 'Số lượng chưa nhập kho' , 'time_create' : 'Thời gian tạo ĐH',
                                        'estimated_delivery' : 'Thời gian giao dự kiến' , 'actual_delivery_time' : 'Thời gian giao thực tế' , 'raw_material_status' : 'Tình trạng NPL'}, inplace = True)
dfPurchaseOrderDetailDA.head(5)

,Mã ĐH,Tên ĐH,Số lượng ĐH đặt,ID đơn hàng,ĐH hoàn tất ?,NPL hoàn tất trong ĐH ?,Trạng thái ĐH,Mã NPL,Mã NCC,Tên NCC,Số lượng NPL đặt,Số lượng NPL đặt (đã chuyển đổi),Số lượng nhập kho,Số lượng chưa nhập kho,Thời gian tạo ĐH,Thời gian giao dự kiến,Thời gian giao thực tế,Người tạo ĐH,Tình trạng NPL
0,TTD-02052022-003-AK,TTD-02052022-003-AK,617.0,1,1,0,completed,1-KATE00-GSK-00-AK,AK,A Khiêm,20.0,20.00,0.0,20.00,2022-05-04,0,0,Nguyễn TT Duyên,Hoàn tất
1,TTD-02052022-003-AK,TTD-02052022-003-AK,617.0,1,1,0,completed,9-CCDCSX-092-00-AK,AK,A Khiêm,1.0,1.00,0.0,1.00,2022-05-04,0,0,Nguyễn TT Duyên,Hoàn tất
2,TTD-02052022-003-AK,TTD-02052022-003-AK,617.0,1,1,0,completed,9-CCDCSX-251-00-AK,AK,A Khiêm,10.0,10.00,0.0,10.00,2022-05-04,0,0,Nguyễn TT Duyên,Hoàn tất
3,TTD-02052022-003-AK,TTD-02052022-003-AK,617.0,1,1,0,completed,9-FELTCH-SBL-00-AK,AK,A Khiêm,100.0,91.44,0.0,91.44,2022-05-04,0,0,Nguyễn TT Duyên,Hoàn tất
4,TTD-02052022-003-AK,TTD-02052022-003-AK,617.0,1,1,0,completed,1-SATIN0-BLK-00-AK,AK,A Khiêm,70.0,70.00,0.0,70.00,2022-05-04,0,0,Nguyễn TT Duyên,Hoàn tất

In [19]:
dfPurchaseOrderDetailDA.to_excel('../dataDA/getPurchaseOrderDetail{}.xlsx'.format(now), index= False)

OSError: [Errno 22] Invalid argument: '../dataDA/getPurchaseOrderDetail2023-03-04 15:51:12.611304.xlsx'

In [20]:
dfPurchaseOrderDetail.loc[(dfPurchaseOrderDetail['quantity_not_arrived'] < 0), 'quantity_not_arrived'] = 0
dfPurchaseOrderDetailSum = dfPurchaseOrderDetail.groupby(['product_id'], as_index=False)['quantity_not_arrived'].sum()
dfPurchaseOrderDetailSum

KeyError: 'quantity_not_arrived'

In [ ]:
dfPurchaseOrderDetailSum[dfPurchaseOrderDetailSum['product_id'] == 6823]

     product_id  quantity_not_arrived
148        6823                   0.0